*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-image: URL("https://images.unsplash.com/photo-1521587760476-6c12a4b040da?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bGlicmFyeXxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    /* backdrop-filter: blur(5px); */
   
    
}
.div1
{
    color: rgb(149, 230, 230);
    backdrop-filter: blur(4px);
    height: 200px;
}
.div2
{
    
    background-color:rgba(235, 246, 246, 0.942) ;
    color:rgb(1, 8, 10) ;
    border-radius: 20px;
    
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}
.marquee span {
    display: inline-block;
    animation: marquee 15s linear infinite;
}
@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}